In [5]:
print('radhe radhe')

radhe radhe

Cite: https://github.com/kojima-takeshi188/zero_shot_cot/blob/main/create_dataset_for_symbolic_reasoning.py

In [1]:
!pip install -q google-generativeai

In [3]:
import pandas as pd

# Read the JSON file into a pandas DataFrame
df = pd.read_json('last_letters.json')

# Write the DataFrame to a CSV file
df.to_csv('last_letters.csv', index=False)

print("Conversion completed successfully.")

Conversion completed successfully.

In [1]:
import pandas as pd

# Read the JSON file into a pandas DataFrame
df = pd.read_json('coin_flip.json')

# Write the DataFrame to a CSV file
df.to_csv('coin_flip.csv', index=False)

print("Conversion completed successfully.")

Conversion completed successfully.

In [4]:
hi=pd.read_csv('last_letters.csv')
hi.head()

                                            examples
0  {'question': 'Take the last letters of each wo...
1  {'question': 'Take the last letters of each wo...
2  {'question': 'Take the last letters of each wo...
3  {'question': 'Take the last letters of each wo...
4  {'question': 'Take the last letters of each wo...

In [5]:
hi.shape

(200, 1)

In [6]:
df=pd.read_csv('last_letters.csv')
print(df.shape)
df.tail()

(200, 1)

                                              examples
195  {'question': 'Take the last letters of each wo...
196  {'question': 'Take the last letters of each wo...
197  {'question': 'Take the last letters of each wo...
198  {'question': 'Take the last letters of each wo...
199  {'question': 'Take the last letters of each wo...

In [14]:
import google.generativeai as palm

In [15]:
palm.configure(api_key="AIzaSyCV6bQxB4C4HD2AjaBfyKJOiEX8ZTw8Ggg")

In [16]:
models=[m for m in palm.list_models() if "generateText" in m.supported_generation_methods]

for m in models:
    print(f"Model Name: {m.name}")

Model Name: models/text-bison-001

In [17]:
model=models[0].name
model

'models/text-bison-001'

 # Let's start to experiment with our AQUA data set

## 4 shot CoT Example

In [19]:
# Open the text file in write mode
with open('evaluation_PaLM_4shot_CoT_AQUA.txt', 'w',encoding="utf-8") as file:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        question = row['question']+row['options']
        answer = row['rationale']+'\n .Correct Answer is '+row['correct']
        prompt=f'''
        After looking at the following 4 questions and their detailed answers  , write a solution with step-by-step explanation for the 5th question:
        Question1: "John found that the average of 15 numbers is 40. If 10 is added to each number then the mean of the numbers is? Answer Choices: (a) 50 (b) 45 (c) 65 (d) 78 (e) 64 "
        Answer: "If 10 is added to each number, then the mean of the numbers also increases by 10. So the new mean would be 50. The answer is (a)."
        Question2: "If a / b = 3/4 and 8a + 5b = 22,then find the value of a.Answer Choices: (a) 1/2 (b) 3/2 (c) 5/2 (d) 4/2 (e) 7/2"
        Answer: "If a / b = 3/4, then b = 4a / 3. So 8a + 5(4a / 3) = 22. This simplifies to 8a + 20a / 3 = 22, which means 44a / 3= 22. So a is equal to 3/2. The answer is (b)."
        Question3: "A person is traveling at 20 km/hr and reached his destiny in 2.5 hr then find the distance?Answer Choices: (a) 53 km (b) 55 km (c) 52 km (d) 60 km (e) 50 km"
        Answer: "The distance that the person traveled would have been 20 km/hr * 2.5 hrs = 50 km. The answer is (e)."
        Question4: "How many keystrokes are needed to type the numbers from 1 to 500? Answer Choices: (a) 1156 (b) 1392 (c) 1480 (d) 1562 (e) 1788"
        Answer: "There are 9 one-digit numbers from 1 to 9. There are 90 two-digit numbers from 10 to 99. There are 401 three-digit numbers from 100 to 500. 9 + 90(2) + 401(3) = 1392. The answer is (b)."

        Question5: {question}
        '''
        completion=palm.generate_text(model=model,prompt=prompt,temperature=0.5,max_output_tokens=1024)
        model_answer=completion.result
        # Write the question and the new answer to the text file
        file.write(f"QUESTION: {question}\n***********************************\nANSWER: {answer}\n**********************************\nMODEL's_ANSWER: {model_answer}\n##############################################################################################\n")
        
       
        
   


print("Text file 'evaluation_PaLM_4shot_CoT_AQUA.txt' created successfully.")

Text file 'evaluation_PaLM_4shot_CoT_AQUA.txt' created successfully.

## 3 Shot CoT Example

In [20]:
with open('evaluation_PaLM_3shot_CoT_AQUA.txt', 'w',encoding="utf-8") as file:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        question = row['question']+row['options']
        answer = row['rationale']+'\n .Correct Answer is '+row['correct']
        prompt=f'''
        After looking at the following 3 questions and their detailed answers  , write a solution with step-by-step explanation for the 4th question:
        Question1: "John found that the average of 15 numbers is 40. If 10 is added to each number then the mean of the numbers is? Answer Choices: (a) 50 (b) 45 (c) 65 (d) 78 (e) 64 "
        Answer: "If 10 is added to each number, then the mean of the numbers also increases by 10. So the new mean would be 50. The answer is (a)."
        Question2: "If a / b = 3/4 and 8a + 5b = 22,then find the value of a.Answer Choices: (a) 1/2 (b) 3/2 (c) 5/2 (d) 4/2 (e) 7/2"
        Answer: "If a / b = 3/4, then b = 4a / 3. So 8a + 5(4a / 3) = 22. This simplifies to 8a + 20a / 3 = 22, which means 44a / 3= 22. So a is equal to 3/2. The answer is (b)."
        Question3: "A person is traveling at 20 km/hr and reached his destiny in 2.5 hr then find the distance?Answer Choices: (a) 53 km (b) 55 km (c) 52 km (d) 60 km (e) 50 km"
        Answer: "The distance that the person traveled would have been 20 km/hr * 2.5 hrs = 50 km. The answer is (e)."
        

        Question4: {question}
        '''
        completion=palm.generate_text(model=model,prompt=prompt,temperature=0.5,max_output_tokens=1024)
        model_answer=completion.result
        # Write the question and the new answer to the text file
        file.write(f"QUESTION: {question}\n***********************************\nANSWER: {answer}\n**********************************\nMODEL's_ANSWER: {model_answer}\n##############################################################################################\n")
        
       
        
   


print("Text file 'evaluation_PaLM_3shot_CoT_AQUA.txt' created successfully.")

Text file 'evaluation_PaLM_3shot_CoT_AQUA.txt' created successfully.

## 2 Shot CoT Example

In [22]:
with open('evaluation_PaLM_2shot_CoT_AQUA.txt', 'w',encoding="utf-8") as file:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        question = row['question']+row['options']
        answer = row['rationale']+'\n .Correct Answer is '+row['correct']
        prompt=f'''
        After looking at the following 2 questions and their detailed answers  , write a solution with step-by-step explanation for the 3rd question:
        Question1: "John found that the average of 15 numbers is 40. If 10 is added to each number then the mean of the numbers is? Answer Choices: (a) 50 (b) 45 (c) 65 (d) 78 (e) 64 "
        Answer: "If 10 is added to each number, then the mean of the numbers also increases by 10. So the new mean would be 50. The answer is (a)."
        Question2: "If a / b = 3/4 and 8a + 5b = 22,then find the value of a.Answer Choices: (a) 1/2 (b) 3/2 (c) 5/2 (d) 4/2 (e) 7/2"
        Answer: "If a / b = 3/4, then b = 4a / 3. So 8a + 5(4a / 3) = 22. This simplifies to 8a + 20a / 3 = 22, which means 44a / 3= 22. So a is equal to 3/2. The answer is (b)."
        

        Question3: {question}
        '''
        completion=palm.generate_text(model=model,prompt=prompt,temperature=0.5,max_output_tokens=1024)
        model_answer=completion.result
        # Write the question and the new answer to the text file
        file.write(f"QUESTION: {question}\n***********************************\nANSWER: {answer}\n**********************************\nMODEL's_ANSWER: {model_answer}\n##############################################################################################\n")
        
       
        
   


print("Text file 'evaluation_PaLM_2shot_CoT_AQUA.txt' created successfully.")

Text file 'evaluation_PaLM_2shot_CoT_AQUA.txt' created successfully.

## 1 shot CoT Example

In [23]:
with open('evaluation_PaLM_1shot_CoT_AQUA.txt', 'w',encoding="utf-8") as file:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        question = row['question']+row['options']
        answer = row['rationale']+'\n .Correct Answer is '+row['correct']
        prompt=f'''
        After looking at the following 1 question and its detailed answers  , write a solution with step-by-step explanation for the 2nd question:
        Question1: "John found that the average of 15 numbers is 40. If 10 is added to each number then the mean of the numbers is? Answer Choices: (a) 50 (b) 45 (c) 65 (d) 78 (e) 64 "
        Answer: "If 10 is added to each number, then the mean of the numbers also increases by 10. So the new mean would be 50. The answer is (a)."
        

        Question2: {question}
        '''
        completion=palm.generate_text(model=model,prompt=prompt,temperature=0.5,max_output_tokens=1024)
        model_answer=completion.result
        # Write the question and the new answer to the text file
        file.write(f"QUESTION: {question}\n***********************************\nANSWER: {answer}\n**********************************\nMODEL's_ANSWER: {model_answer}\n##############################################################################################\n")
        
       
        
   


print("Text file 'evaluation_PaLM_1shot_CoT_AQUA.txt' created successfully.")

Text file 'evaluation_PaLM_1shot_CoT_AQUA.txt' created successfully.

# O shot CoT Example

In [24]:
with open('evaluation_PaLM_0shot_CoT_AQUA.txt', 'w',encoding="utf-8") as file:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        question = row['question']+row['options']
        answer = row['rationale']+'\n .Correct Answer is '+row['correct']
        prompt=f'''
        Write a solution with step-by-step explanation for the following question:

        

        Question1: {question}
        '''
        completion=palm.generate_text(model=model,prompt=prompt,temperature=0.5,max_output_tokens=1024)
        model_answer=completion.result
        # Write the question and the new answer to the text file
        file.write(f"QUESTION: {question}\n***********************************\nANSWER: {answer}\n**********************************\nMODEL's_ANSWER: {model_answer}\n##############################################################################################\n")
        
       
        
   


print("Text file 'evaluation_PaLM_0shot_CoT_AQUA.txt' created successfully.")

Text file 'evaluation_PaLM_0shot_CoT_AQUA.txt' created successfully.

## 4 shot standard prompt example

In [25]:
import pandas as pd


# Open the text file in write mode
with open('evaluation_PaLM_4shot_standardPrompt_AQUA.txt', 'w',encoding="utf-8") as file:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        question = row['question']+row['options']
        answer = row['rationale']+'\n .Correct Answer is '+row['correct']
        prompt=f'''
        After looking at the following 4 questions and their answers  , write a solution for the 5th question:
        Question1: "John found that the average of 15 numbers is 40. If 10 is added to each number then the mean of the numbers is? Answer Choices: (a) 50 (b) 45 (c) 65 (d) 78 (e) 64 "
        Answer: "The answer is (a)."
        Question2: "If a / b = 3/4 and 8a + 5b = 22,then find the value of a.Answer Choices: (a) 1/2 (b) 3/2 (c) 5/2 (d) 4/2 (e) 7/2"
        Answer: "The answer is (b)."
        Question3: "A person is traveling at 20 km/hr and reached his destiny in 2.5 hr then find the distance?Answer Choices: (a) 53 km (b) 55 km (c) 52 km (d) 60 km (e) 50 km"
        Answer: "The answer is (e)."
        Question4: "How many keystrokes are needed to type the numbers from 1 to 500? Answer Choices: (a) 1156 (b) 1392 (c) 1480 (d) 1562 (e) 1788"
        Answer: "The answer is (b)."

        Question5: {question}
        '''
        completion=palm.generate_text(model=model,prompt=prompt,temperature=0.5,max_output_tokens=1024)
        model_answer=completion.result
        # Write the question and the new answer to the text file
        file.write(f"QUESTION: {question}\n***********************************\nANSWER: {answer}\n**********************************\nMODEL's_ANSWER: {model_answer}\n##############################################################################################\n")
        
       
        
   


print("Text file 'evaluation_PaLM_4shot_standardPrompt_AQUA.txt' created successfully.")

Text file 'evaluation_PaLM_4shot_standardPrompt_AQUA.txt' created successfully.

## 3 shot standard prompt example

In [ ]:
import pandas as pd


# Open the text file in write mode
with open('evaluation_PaLM_3shot_standardPrompt_AQUA.txt', 'w',encoding="utf-8") as file:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        question = row['question']+row['options']
        answer = row['rationale']+'\n .Correct Answer is '+row['correct']
        prompt=f'''
        After looking at the following 3 questions and their answers  , write a solution for the 4th question:
        Question1: "John found that the average of 15 numbers is 40. If 10 is added to each number then the mean of the numbers is? Answer Choices: (a) 50 (b) 45 (c) 65 (d) 78 (e) 64 "
        Answer: "The answer is (a)."
        Question2: "If a / b = 3/4 and 8a + 5b = 22,then find the value of a.Answer Choices: (a) 1/2 (b) 3/2 (c) 5/2 (d) 4/2 (e) 7/2"
        Answer: "The answer is (b)."
        Question3: "A person is traveling at 20 km/hr and reached his destiny in 2.5 hr then find the distance?Answer Choices: (a) 53 km (b) 55 km (c) 52 km (d) 60 km (e) 50 km"
        Answer: "The answer is (e)."


        Question4: {question}
        '''
        completion=palm.generate_text(model=model,prompt=prompt,temperature=0.5,max_output_tokens=1024)
        model_answer=completion.result
        # Write the question and the new answer to the text file
        file.write(f"QUESTION: {question}\n***********************************\nANSWER: {answer}\n**********************************\nMODEL's_ANSWER: {model_answer}\n##############################################################################################\n")
        
       
        
   


print("Text file 'evaluation_PaLM_3shot_standardPrompt_AQUA.txt' created successfully.")

## 2 shot standard prompt example

In [ ]:
import pandas as pd


# Open the text file in write mode
with open('evaluation_PaLM_2shot_standardPrompt_AQUA.txt', 'w',encoding="utf-8") as file:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        question = row['question']+row['options']
        answer = row['rationale']+'\n .Correct Answer is '+row['correct']
        prompt=f'''
        After looking at the following 2 questions and their answers  , write a solution for the 3rd question:
        Question1: "John found that the average of 15 numbers is 40. If 10 is added to each number then the mean of the numbers is? Answer Choices: (a) 50 (b) 45 (c) 65 (d) 78 (e) 64 "
        Answer: "The answer is (a)."
        Question2: "If a / b = 3/4 and 8a + 5b = 22,then find the value of a.Answer Choices: (a) 1/2 (b) 3/2 (c) 5/2 (d) 4/2 (e) 7/2"
        Answer: "The answer is (b)."



        Question3: {question}
        '''
        completion=palm.generate_text(model=model,prompt=prompt,temperature=0.5,max_output_tokens=1024)
        model_answer=completion.result
        # Write the question and the new answer to the text file
        file.write(f"QUESTION: {question}\n***********************************\nANSWER: {answer}\n**********************************\nMODEL's_ANSWER: {model_answer}\n##############################################################################################\n")
        
       
        
   


print("Text file 'evaluation_PaLM_2shot_standardPrompt_AQUA.txt' created successfully.")

## 1 shot standard prompt

In [ ]:
import pandas as pd




# Open the text file in write mode
with open('evaluation_PaLM_1shot_standardPrompt_AQUA.txt', 'w',encoding="utf-8") as file:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        question = row['question']+row['options']
        answer = row['rationale']+'\n .Correct Answer is '+row['correct']
        prompt=f'''
        After looking at the following 1 question and its answers  , write a solution for the 2nd question:
        Question1: "John found that the average of 15 numbers is 40. If 10 is added to each number then the mean of the numbers is? Answer Choices: (a) 50 (b) 45 (c) 65 (d) 78 (e) 64 "
        Answer: "The answer is (a)."




        Question2: {question}
        '''
        completion=palm.generate_text(model=model,prompt=prompt,temperature=0.5,max_output_tokens=1024)
        model_answer=completion.result
        # Write the question and the new answer to the text file
        file.write(f"QUESTION: {question}\n***********************************\nANSWER: {answer}\n**********************************\nMODEL's_ANSWER: {model_answer}\n##############################################################################################\n")
        
       
        
   


print("Text file 'evaluation_PaLM_1shot_standardPrompt_AQUA.txt' created successfully.")

## Zero shot standsrd prompt

In [ ]:
import pandas as pd




# Open the text file in write mode
with open('evaluation_PaLM_0shot_standardPrompt_AQUA.txt', 'w',encoding="utf-8") as file:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        question = row['question']+row['options']
        answer = row['rationale']+'\n .Correct Answer is '+row['correct']
        prompt=f'''
        Solve the following question:
   




        Question1: {question}
        '''
        completion=palm.generate_text(model=model,prompt=prompt,temperature=0.5,max_output_tokens=1024)
        model_answer=completion.result
        # Write the question and the new answer to the text file
        file.write(f"QUESTION: {question}\n***********************************\nANSWER: {answer}\n**********************************\nMODEL's_ANSWER: {model_answer}\n##############################################################################################\n")
        
       
        
   


print("Text file 'evaluation_PaLM_0shot_standardPrompt.txt' created successfully.")